html, body{
    margin:0;
    padding:0;
}

#header {
    background-color: #247BA0;
    border-bottom: 2px solid #FF1654;
    padding: 25px;
}

button {
    background-color: #70C1B3;
    border: none;
    padding: 10px;
}

button:hover {
    color: white;
    background-color: #5B9E93;
}

#body {
    padding: 25px;
}

#welcome-body {
    background-color: #B2DBBF;
    width: 80%;
    padding: 25px;
    border: 2px solid #FF1654;
    border-radius: 10px;
}

#main-image {
    max-width: 500px;
    border-radius: 10px;
}

form input[type=submit] {
    background-color: green;
    border: none;
    padding: 10px;
    width: 100%;
    color: white;
}

form input[type=submit]:hover {
    background-color: #00af00;
}

.small {
    width: 30%;
}

.medium {
    width: 50%;
}

.large {
    width: 70%;
}

#add-new-manufacturer, #add-new-car {
    float: left;
}

#manufacturers-table, #cars-table {
    overflow: hidden;
}

#manufacturers-table table, #cars-table table {
    border-collapse: collapse;
}

#manufacturers-table thead, #cars-table thead {
    background-color: #247BA0;
    color: white;
}

#manufacturers-table td, #cars-table td {
    padding: 5px;
}

#manufacturers-table tr:nth-child(even), #cars-table tr:nth-child(even){
    background-color: #f2f2f2
}